export(addBacktransforms,
       addBacktransforms.alldiffs,
       addSpatialModelOnIC.asrtests, 
       addSpatialModelOnIC, 
       addrm.terms.asreml,
       addrm.terms.asrtests,
       addto.test.summary,
       allDifferences,
       allDifferences.data.frame,
       alldiffs,
       as.alldiffs,
       as.asrtests,
       as.predictions.frame,
       angular,
       angular.mod,
       asrtests, 
       bootREMLRT,
       bootREMLRT.asreml,
       changeModelOnIC,
       changeModelOnIC.asrtests,
       changeTerms,
       changeTerms.asrtests,
       chooseModel,
       chooseModel.asrtests,
       chooseModel.data.frame,
       choose.model.asreml,
       choose.model.asrtests,
       chooseSpatialModelOnIC.asrtests,
       chooseSpatialModelOnIC, 
       estimateV,
       estimateV.asreml,
       exploreLSDs,
       exploreLSDs.alldiffs,
       facCombine,
       facCombine.alldiffs,
       facRecast,
       facRecast.alldiffs,
       facRecode,
       facRecode.alldiffs,
       facRename,
       facRename.alldiffs,
       getASRemlVersionLoaded,
       getFormulae,
       getFormulae.asreml,
       getTestEntry,
       getTestEntry.asrtests,
       getTestPvalue,
       getTestPvalue.asrtests,
       infoCriteria,
       infoCriteria.asreml,
       infoCriteria.list,
       info.crit.asreml,
       info.crit,
       is.alldiffs,
       is.asrtests,
       is.predictions.frame,
       iterate,
       iterate.asrtests,
       linTransform, 
       linTransform.alldiffs,
       loadASRemlVersion,
       makeTPSPlineXZMats, 
       makeTPSPlineXZMats.data.frame,
       newfit,
       newfit.asreml,
       newrcov.asrtests,
       num.recode,
       pairdiffsTransform,
       pairdiffsTransform.alldiffs,
       permute.square,
       permute.to.zero.lowertri,
       pickLSDstatistics, 
       pickLSDstatistics.alldiffs,
       plotLSDerrors, 
       plotLSDerrors.data.frame,
       plotLSDerrors.alldiffs,
       plotLSDs, 
       plotLSDs.data.frame,
       plotLSDs.alldiffs,
       plotPredictions,
       plotPredictions.data.frame,
       plotPvalues, 
       plotPvalues.data.frame,
       plotPvalues.alldiffs,
       plotVariofaces,
       plotVariofaces.data.frame,
       powerTransform,
       power.transform,
       predictiondiffs.asreml,
       predictPlus,
       predictPlus.asreml,
       predictparallel.asreml,
       predictPresent,
       predictPresent.asreml,
       pred.present.asreml,
       print.alldiffs,
       print.asrtests, 
       print.LSDdata,
       print.predictions.frame, 
       print.test.summary,
       print.wald.tab, 
       printFormulae,
       printFormulae.asreml,
       ratioTransform,
       ratioTransform.alldiffs,
       recalcLSD, 
       recalcLSD.alldiffs, 
       recalcWaldTab,
       recalcWaldTab.asrtests,
       recalc.wald.tab.asreml, 
       recalc.wald.tab.asrtests, 
       redoErrorIntervals, 
       redoErrorIntervals.alldiffs, 
       REMLRT,
       REMLRT.asreml,
       reml.lrt.asreml,
       reml.lrt,
       renewClassify,
       renewClassify.alldiffs,
       reparamSigDevn,
       reparamSigDevn.asrtests,
       rmboundary,
       rmboundary.asrtests,
       rmboundary.asreml,
       setvarianceterms,
       setvarianceterms.call,
       sig.devn.reparam.asreml,
       sig.devn.reparam.asrtests,
       simulate.asreml,
       sort.alldiffs,
       sort.predictions.frame,
       subset.alldiffs,
       subset.list,
       testrcov.asreml,
       testrcov.asrtests,
       testresidual,
       testresidual.asrtests,
       testranfix.asreml,
       testranfix,
       testranfix.asrtests,
       testswapran.asreml,
       testswapran,
       testswapran.asrtests,
       validAlldiffs,
       validAsrtests,
       validPredictionsFrame,
       variofaces,
       variofaces.asreml)
exportClasses(alldiffs, asrtests, predictions.frame)
import(dae, ggplot2)
importFrom("stats", "as.formula",  "fitted", "fitted.values", "formula", "median", 
                    "model.matrix", "na.omit", "pchisq", "pf", "predict", "pt", "qnorm", "qt", 
                    "quantile", "resid", "rnorm","simulate", "terms", "terms.formula", 
                    "update.formula")
importFrom("RColorBrewer", "brewer.pal")
importFrom("grDevices", "savePlot")
importFrom("graphics", "hist")
importFrom("dplyr", "anti_join")
importFrom("methods", "formalArgs", "languageEl", "languageEl<-", "validObject")
importFrom("reshape2", "melt")
importFrom("utils", "data", "capture.output", sessionInfo, "tail")
importFrom("foreach", "foreach", "%do%", "%dopar%")
importFrom("parallel", "makeCluster", "stopCluster", "detectCores", "nextRNGStream")
importFrom("doParallel", "registerDoParallel")
importFrom("stringr", "str_count", "str_length", "str_locate", "str_locate_all", "str_replace", "str_replace_all", 
           "str_split", "str_sub", "str_trim")
importFrom("sticky", "sticky")
S3method(addBacktransforms, alldiffs)
S3method(addSpatialModelOnIC, asrtests)
S3method(allDifferences, data.frame)
S3method(changeModelOnIC, asrtests)
S3method(bootREMLRT, asreml) 
S3method(changeTerms, asrtests) 
S3method(chooseModel, asrtests) 
S3method(chooseModel, data.frame) 
S3method(chooseSpatialModelOnIC, asrtests)
S3method(estimateV, asreml) 
S3method(exploreLSDs, alldiffs) 
S3method(facCombine, alldiffs)
S3method(facRecast, alldiffs)
S3method(facRecode, alldiffs)
S3method(facRename, alldiffs)
S3method(getFormulae, asreml)
S3method(getTestEntry, asrtests)
S3method(getTestPvalue, asrtests)
S3method(infoCriteria, asreml) 
S3method(infoCriteria, list) 
S3method(isFixedCorrelOK, asreml) 
S3method(iterate, asrtests) 
S3method(linTransform, alldiffs)
S3method(makeTPSPlineXZMats, data.frame)
S3method(newfit, asreml) 
S3method(plotPredictions, data.frame)
S3method(plotPvalues, alldiffs)
S3method(plotLSDerrors, data.frame)
S3method(plotLSDerrors, alldiffs)
S3method(plotLSDs, data.frame)
S3method(plotLSDs, alldiffs)
S3method(plotPvalues, data.frame)
S3method(plotVariofaces, data.frame)
S3method(predictPresent, asreml)
S3method(predictPlus, asreml)
S3method(print, asrtests)
S3method(print, alldiffs)
S3method(print, LSDdata)
S3method(print, predictions.frame)
S3method(print, test.summary)
S3method(print, wald.tab)
S3method(printFormulae, asreml)
S3method(pairdiffsTransform, alldiffs)
S3method(pickLSDstatistics, alldiffs)
S3method(ratioTransform, alldiffs)
S3method(recalcWaldTab, asrtests)
S3method(REMLRT, asreml) 
S3method(recalcLSD, alldiffs)
S3method(redoErrorIntervals, alldiffs)
S3method(renewClassify, alldiffs)
S3method(reparamSigDevn, asrtests)
S3method(rmboundary, asreml)
S3method(rmboundary, asrtests)
S3method(setvarianceterms, call)
S3method(simulate, asreml)
S3method(sort, alldiffs)
S3method(sort, predictions.frame)
S3method(subset, alldiffs)
S3method(subset, list)
S3method(testranfix, asreml)
S3method(testranfix, asrtests)
S3method(testresidual, asrtests)
S3method(testswapran, asreml)
S3method(testswapran, asrtests)
S3method(variofaces, asreml)
